<table>
    <tr>
        <td>№</td>
        <td>Карта плательщика</td>
        <td>Карта получателя</td>
        <td>Сумма</td>
        <td>Дата выполнения</td>
        <td>Действие</td>
    </tr>
    <tr *ngFor='let user of date'>
        <td>{{ user['index'] }}</td>
        <td>{{ user['spliceCardNumberWhoPay']}}</td>
        <td>{{ user['sliceCardUserNumber']}}</td>
        <td>{{ user['sum']}}</td>
        <td>{{ user['dateNow']}}</td>
        <td class='action'>
            <button>Повторить</button>
            <button (click) = 'deleteItem()'>Удалить</button>
        </td>
    </tr>
</table>
