<table>
    <tr>
        <td>№</td>
        <td>Карта плательщика</td>
        <td>Карта получателя</td>
        <td>Сумма</td>
        <td>Дата выполнения</td>
        <td>Действие</td>
    </tr>
    <tr *ngFor='let user of date; let i = index'>
        <td>{{ i + 1 }}</td>
        <td>{{ user['spliceCardNumberWhoPay']}}</td>
        <td>{{ user['sliceCardUserNumber']}}</td>
        <td>{{ user['sum']}}</td>
        <td>{{ user['dateNow']}}</td>
        <td class='action'>
            <button (click) = 'repeat(i + 1)'>Повторить</button>
            <button (click) = 'deleteItem(i + 1)'>Удалить</button>
        </td>
    </tr>
</table>
