<form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class='container'>
        <div class='container__usercard'>
            <h2>Карта плательщика</h2>
            <input placeholder="номер карты без пробелов (16 цифр)" type='text' data='data-card-number' formControlName="cardWhoPay" > 
            <div class='container__data'>
                <input required type='text' placeholder='ФИО держателя' data='data-fio' formControlName="FIO" >
                <select formControlName="month" name='month'>
                    <option *ngFor='let num of months' [ngValue] = 'num'>{{ num }}</option>
                </select>
                <select formControlName="year" name='year'>
                    <option *ngFor='let year of years' [ngValue] = 'year'>{{ year }}</option>
                </select>
            </div>
        </div>
        <div class='container__sendcard'>
            <h2>Карта получателя</h2>
            <input type='text' placeholder="номер карты без пробелов"  data='data-card-number'  formControlName="usercard">
        </div>
    </div>
    <div class='bottom'>
        <input type='number' class='bottom__sum' placeholder='Сумма' formControlName="sum">
        <input type='hidden' formControlName="dateNow">
        <input type='submit' [disabled] = 'myForm.invalid' value='Перевести'>
    </div>    
</form>